@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Quiz!</h1>
<p>Test your knowledge in various topics by taking our quiz.</p>
<a href="/Quiz/StartQuiz" class="btn btn-primary">Start Quiz</a>

