@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the cloud computing quiz!</h1>
<a href="/Quiz/StartQuiz" class="btn btn-primary">Start Quiz</a>
<a href="Quiz/PastScores" class="btn btn-primary">Past Results</a>

